
body {
    background-color: darkgreen;
}

body #searchForm {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border-style: solid;
    border-color: rgb(233, 233, 52);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#inputContainer input{
    width: 100%;
}

#submitContainer {
    text-align: center;
}

#submitContainer button:hover{
    background-color: lightgreen;
}

#submitContainer button{
    background-color: pink;
}